<html>
<head><link rel="stylesheet" type="text/css" href="/style/stylequiz.css"></head>
<body bgcolor="#091C4B"><font color="white" size="6"><h1>Quiz</h1>
<form name="send-form" class="send-form" method="POST" action="/quiz">
<label><font color="white">abajour</label><br><br> 
<label class="container">knrgbnpnvomemcrmovmope<input type="radio" name="abajour" value="0" required><span class="checkmark"/></label><br> 
  <label class="container">lklntrhpigunvceo4thuiervner<input type="radio" name="abajour" value="1" required><span class="checkmark"/></label><br> 
  <label><font color="white">paodquie</label><br><br> 
<label class="container">a<input type="radio" name="paodquie" value="0" required><span class="checkmark"/></label><br> 
  <label class="container">b<input type="radio" name="paodquie" value="1" required><span class="checkmark"/></label><br> 
  <button class="a" type="sumbit">OK</button></form>
</body>
</html>
