<html>
<head><link rel="stylesheet" type="text/css" href="/style/stylequiz.css"></head>
<body bgcolor="#091C4B"><font color="white" size="6"><center><h1>Quiz</h1></center>
<form name="send-form" class="send-form" method="POST" action="/quiz">
<label><font color="white">vai funcionar?</label><br><br> 
<label class="container">sim<input type="radio" name="vai funcionar?" value="0" required><span class="checkmark"/></label><br>
 <label class="container">nao<input type="radio" name="vai funcionar?" value="1" required><span class="checkmark"/></label><br>
 <br><br>
<label><font color="white">qual seu nome</label><br><br> 
<label class="container">irineu<input type="radio" name="qual seu nome" value="0" required><span class="checkmark"/></label><br>
 <label class="container">outro<input type="radio" name="qual seu nome" value="1" required><span class="checkmark"/></label><br>
 <br><br>
<center><button class="a" type="sumbit">OK</button></center></form>
</body>
</html>
