<html>

    <head>
        <link rel="stylesheet" type="text/css" href="/style/style.css">
        <link href='https://fonts.googleapis.com/css?family=Marvel' rel='stylesheet'>
    </head>

    <body bgcolor="#091C4B"><center>
    
        <audio autoplay>
            <source src="/sound/laugh.mp3" type="audio/mpeg">
        </audio>


        <form method="GET" action="/thanos"> 
        <input type="image" name="submit" src="/img/thanos_pixel.gif" width="400" border="0" alt="Submit" />
    </form>     
        <img src="/img/thanos_wins.png" width="500">
        <br><br>
        <form name="send-form" class="send-form" method="GET" action="/">
        <button class="a" type="submit">Recomeçar :D</button>
    </form>

    
    </body>

</html>