<html>

    <head>
        <link rel="stylesheet" type="text/css" href="/style/style.css">
        <link href='https://fonts.googleapis.com/css?family=Marvel' rel='stylesheet'>
      <!--  <style>
         html {
             zoom: 45%;
         }
       </style> -->
    </head>

    <body bgcolor="356EFF" onload="init();"><center><font color="white">

        <h1>Agora só falta tirar uma foto, {{n}}!</h1>

    <!--

    Source:

    https://stackoverflow.com/questions/33975431/how-can-i-capture-an-image-via-the-users-webcam-using-getusermedia
    https://stackoverflow.com/questions/34548995/how-to-upload-file-using-pure-vanilla-javascript-and-php

    -->


     <!--
    	<button onclick="startWebcam();">Start WebCam</button>
    	<button onclick="stopWebcam();">Stop WebCam</button>
      	<button onclick="snapshot();uploadImage();">Take Snapshot</button>
      	-->

      <!--
      	<button onclick="uploadImage();">Upload Photo</button>
      	-->

    <video width=400 height=400 id="video" autoplay></video>

    <canvas hidden  id="photoCanvas" width="400" height="350"></canvas>

        <form name="send-form" class="send-form" method="POST" action="/camera">
            <input onclick="snapshot(this);uploadImage();" type="image" name="submit" src="/img/spidey.jpg" width="80" border="0" alt="Submit" />
        </form>

  </body>

  <script>
      //--------------------
      // GET USER MEDIA CODE
      //--------------------
          navigator.getUserMedia = ( navigator.getUserMedia ||
                             navigator.webkitGetUserMedia ||
                             navigator.mozGetUserMedia ||
                             navigator.msGetUserMedia);

      var video;
      var webcamStream;

      function startWebcam() {
        if (navigator.getUserMedia) {
           navigator.getUserMedia (

              // constraints
              {
                 video: true,
                 audio: false
              },

              // successCallback
              function(localMediaStream) {
                  video = document.querySelector('video');
                  video.src = window.URL.createObjectURL(localMediaStream);
                 webcamStream = localMediaStream;
              },

              // errorCallback
              function(err) {
                 console.log("The following error occured: " + err);
              }
           );
        } else {
           console.log("getUserMedia not supported");
        }
      } //startWebcam

      function stopWebcam() {
          webcamStream.getVideoTracks()[0].stop();
      }
      //---------------------
      // TAKE A SNAPSHOT CODE
      //---------------------
      var canvas, ctx;

      function init() {
        // Get the canvas and obtain a context for
        // drawing in it
        canvas = document.getElementById("photoCanvas");
        ctx = canvas.getContext('2d');


        startWebcam();
      } //init

      function snapshot() {
         // Draws current image from the video element into the canvas
        ctx.drawImage(video, 0,0, canvas.width, canvas.height);
      } //snapshot

	  function uploadImage() { //Vanilla AJAX JavaScript...

      // Carrega a imagem em uma variável
    	//var canvasBox = document.getElementById('photoCanvas').getContext("2d");
    	//var photoData = canvasBox.getImageData(0, 0, 400, 400);
		  var photoData = document.getElementById('photoCanvas').toDataURL("image/png");

      //Evia dados da imagem para o servidor via POST
    	var xhr = new XMLHttpRequest();

    	xhr.open("POST","/camera", true);

    	xhr.setRequestHeader("Content-type","image/png");

		//console.log(photoData); //debug
      console.log('Foto enviada...')//debug
		xhr.send(photoData);

	} //uploadImage

  </script>

</html>
