<html>

    <head>
        <link href='https://fonts.googleapis.com/css?family=Marvel' rel='stylesheet'>
        <style>
            body {
                font-family: 'Marvel';font-size: 28px;
            }
        </style>
    </head>

    <body bgcolor="356EFF"><center><font color="white">
        
        <h1>Agora só falta tirar uma foto!</h1>
        
        <form name="send-form" class="send-form" method="GET" action="/camera">
            <input type="image" name="submit" src="/img/spidey.jpg" width="450" border="0" alt="Submit" />
        </form>
    
    </body>
    
</html>