<html>

    <head>
        <link rel="stylesheet" type="text/css" href="style/style.css">
        <link href='https://fonts.googleapis.com/css?family=Marvel' rel='stylesheet'>
    </head>

<center>
<br>
<body bgcolor="#091C4B"><center><font color="white">
    <h1>Criar meu Quiz</h1>
    <form name="send-form" class="send-form" method="POST" action="/criar">
    <input type="number" name="perguntas" placeholder="Quantas perguntas" required/><br>
    <input type="number" name="opcoes" placeholder="Opções por pergunta" required/><br><br>
    <button class="a" type="submit">OK</button>
    </form>
</body>
</html>
