<html>

    <head>
        <link rel="stylesheet" type="text/css" href="{{ \static\style('static',filename='styles/style.css') }}" media="screen"/>
        <link href='https://fonts.googleapis.com/css?family=Marvel' rel='stylesheet'>
    </head>

<body><center><br><br><br><br>
Email enviado para {{x}}
<br><br>
    
    <form method="GET" action="/thanos"> 
        <input type="image" name="submit" src="/img/thanos2.gif" border="0" alt="Submit" />
    </form>
    <form name="send-form" class="send-form" method="GET" action="/">
        <input type="submit" value="Recomeçar :D">
    </form>


</body>
</html>