<html>

  
    <head>
        <link rel="stylesheet" type="text/css" href="style.css" media="screen"/>
        <link href='https://fonts.googleapis.com/css?family=Marvel' rel='stylesheet'>
    </head>

    <body bgcolor="#6d3678"><center><br><br><br><br><br>

        <font color="white">

            <form name="send-form" class="send-form" method="POST" action="/resultado">
                <label>Você quer receber sua foto por email?</label><br><br>
                <label>Email: </label><input type="email" name="email" required>
                <input type="submit" value="Enviar" formaction="/email" ><br><br><input type="submit" value="Não, prefiro morrer" formaction="/adeus">
            </form>

        </font>

    </body>

</html>