<html>

<body bgcolor="#091C4B"><center>

<font color="white"><h3>
colocar aqui a foto ja com o overlay<br><br>

<form name="send-form" class="send-form" method="POST" action="/resultado">
    <label>Você quer receber sua foto por email?</label><br><br>
    <label>Email: </label><input type="email" name="email"/>
    <input type="submit" value="Enviar" formaction="/email"><br><br><input type="submit" value="Não, prefiro morrer" formaction="/adeus">
</form>
</h3></font>
</body>
</html>