<html>

    <head>
        <link rel="stylesheet" type="text/css" href="style/style.css"/>
        <link href='https://fonts.googleapis.com/css?family=Marvel' rel='stylesheet'>
    </head>

<body><center><br><br><br><br>
{% if x != False %}
Email enviado para {{x}}
{% else %}
...
{% endif %}
<br><br>

    <form method="GET" action="/thanos">
        <input type="image" name="submit" src="/img/thanos2.gif" border="0" alt="Submit" />
    </form>
    <form name="send-form" class="send-form" method="GET" action="/">
        <button type="submit" class="a">Recomeçar :D</button>
    </form>


</body>
</html>
