<html>

  
    <head>
        <link rel="stylesheet" type="text/css" href="/style/style.css">
        <link href='https://fonts.googleapis.com/css?family=Marvel' rel='stylesheet'>
    </head>

    <body bgcolor="#6d3678"><center><br><br><br><br><br>

        <font color="white">

            <form name="send-form" class="send-form" method="POST">
                <label>Você quer receber sua foto por email?</label><br><br>
                <label>Email: </label><input type="email" name="email" required>
                <button class="a" type="submit" action="/resultado">Enviar</button>
                <br><br>
            </form>
            
            <form name="send-form" class="send-form" method="POST">
                <button class="a" type="submit" action="/adeus">Hoje não</button>
            </form>

        </font>

    </body>

</html>