<html>

    <head>
        <link rel="stylesheet" type="text/css" href="style/style.css"/>
        <link href='https://fonts.googleapis.com/css?family=Marvel' rel='stylesheet'>
    </head>

<body><center>
<br><br>
Seu quiz foi salvo no Desktop!
<br><br>
Obrigado por jogar!
<br><br>

    <form method="GET" action="/thanos">
        <input type="image" name="submit" src="/img/thanos2.gif" border="0" alt="Submit" />
    </form>
    <form name="send-form" class="send-form" method="GET" action="/">
        <button type="submit" class="a">Recomeçar :D</button>
    </form>

</body>
</html>
