<html>
    
    <head>
        <link href='https://fonts.googleapis.com/css?family=Marvel' rel='stylesheet'>
        <style>
            body {
                font-family: 'Marvel';font-size: 28px;
            }
        </style>
    </head>   
    
    <body><center>
    
        <img src="/img/spoiler_alert.png">
        <h1>OS VINGADORES ESTÃO MORTOS</h1>
        Usando a joia da mente, Thanos tomou o controle da Capitã Marvel, e usou-a para massacrar todos os heróis<br>
        Stan lee nos contatou e pediu-nos um favor<br>
        O mundo precisa de heróis substitutos<br>
        <img src="/img/lee.jpg" width="500"><br>
        <br><h3>Você quer fazer parte desse time?</h3><br>
    
        Faça esse quiz para descobrir qual vingador você será<br><br>
        
        <form method="GET" action="/quiz">
            <label>Seu nome: </label><input type="text" name="nome" required/><br><br>
            <button type="submit">Estou pronto!</button>
        </form>
    
        <form method="GET" action="/adeus">
            <button type="submit">Não estou pronto :(</button>
        </form>
        
    </center></body>

</html>