<html>
    
    
    <head>
        <link rel="stylesheet" type="text/css" href="style.css" media="screen"/>
        <link href='https://fonts.googleapis.com/css?family=Marvel' rel='stylesheet'>
    </head>
    
    <body><center>
    
        <img src="/img/spoiler_alert.png">
        <h1>OS VINGADORES ESTÃO MORTOS</h1>
        Usando a joia da mente, Thanos tomou o controle da Capitã Marvel, e usou-a para massacrar todos os heróis<br>
        Stan lee nos contatou e pediu-nos um favor<br>
        O mundo precisa de heróis substitutos<br>
        <img src="/img/lee.jpg" width="500"><br>
        <br><h3>Você quer fazer parte desse time?</h3><br>
    
        Faça esse quiz para descobrir qual vingador você será<br><br>
        
        <form method="GET" action="/quiz">
            <button type="submit">Estou pronto!</button>
        </form>
    
        <form method="GET" action="/adeus">
            <button type="submit">Não estou pronto :(</button>
        </form>
        
    </center></body>

</html>