<html><center>

  <head>
      <link rel="stylesheet" type="text/css" href="/style/style.css">
      <link href='https://fonts.googleapis.com/css?family=Marvel' rel='stylesheet'>
  </head>

  <body bgcolor="424F56">

<h1><font color="white" size="5">Loading...</font></h1>

{% if x == 0 %}
<img src="/img/loading0.gif" width="500">
{% elif x == 1 %}
<img src="/img/loading1.gif" width="500">
{% elif x == 2 %}
<img src="/img/loading2.gif" width="500">
{% elif x == 3 %}
<img src="/img/loading3.gif" width="500">
{% elif x == 4 %}
<img src="/img/loading4.gif" width="500">
{% endif %}

<script>window.setTimeout(function() {
    window.location.href = '/resultado';
}, 15000);</script>

</body>

</html>
