<html>
<head><link rel="stylesheet" type="text/css" href="/style/stylequiz.css"></head>
<body bgcolor="#091C4B"><font color="white" size="6"><h1>Preview do seu quiz</h1>
<label><font color="white">ff</label><br><br> 
<label class="container">2<input type="radio" name="ff" required><span class="checkmark"/></label><br> 
  <label class="container">1<input type="radio" name="ff" required><span class="checkmark"/></label><br> 
  <label><font color="white">ffff</label><br><br> 
<label class="container">2<input type="radio" name="ffff" required><span class="checkmark"/></label><br> 
  <label class="container">2<input type="radio" name="ffff" required><span class="checkmark"/></label><br> 
  <form name="send-form" class="send-form" action="/criar2" method="GET"><button type="submit" class="a">Refazer Quiz</button></form>
<form name="send-form" class="send-form" action="/preview" method="POST"><button type="submit" class="a" method="POST" action="/preview">Continuar</button></form>
</body>
</html>
