<html> <head><link rel="stylesheet" type="text/css" href="style/style.css"><link href="https://fonts.googleapis.com/css?family=Marvel" rel="stylesheet"></head>
<center><br><body bgcolor="#091C4B"><font color="white"><h1>Quiz</h1>
<form name="send-form" class="send-form" method="POST" action="/seuquiz"><label><font color="white">jkdfnvjncjd</label><br><br> 
<label class="container">1<input type="radio" name="jkdfnvjncjd" value="0" required><span class="checkmark"/></label><br> 
  <br>
<label class="container">2<input type="radio" name="jkdfnvjncjd" value="1" required><span class="checkmark"/></label><br> 
  <br>
<label><font color="white">njecnlknorexic</label><br><br> 
<label class="container">1<input type="radio" name="njecnlknorexic" value="0" required><span class="checkmark"/></label><br> 
  <br>
<label class="container">1<input type="radio" name="njecnlknorexic" value="1" required><span class="checkmark"/></label><br> 
  <br>
<button class="a" type="sumbit">OK</button></form></body></html>