<html>


    <head>
        <link rel="stylesheet" type="text/css" href="/static/style/style.css" media="screen"/>
        <link href='https://fonts.googleapis.com/css?family=Marvel' rel='stylesheet'>
    </head>

    <body bgcolor="#091C4B"><center><font color="white">
        
        <h1>Qual vingador você é?</h1>
        
        <form name="send-form" class="send-form" method="POST" action="/quiz">

            <label>Seu nome:  </label><input type="text" name="nome" required/><br><br>
            <label>Sua idade: </label><input type="number" name="idade" required/><br><br>
    
    
    	 
            <table>
        
            <tr>
            <label><font color="white">Para qual desses lugares você iria agora?</label><br><br>
            </tr><tr>
            <input type="radio" name="cidade" value="0" required>Wakanda<br>
            <input type="radio" name="cidade" value="1">New York<br>
            <input type="radio" name="cidade" value="2">Sokovia<br>
            <input type="radio" name="cidade" value="3">Norway<br>
            <input type="radio" name="cidade" value="4">Kamar-Taj<br>
            <input type="radio" name="cidade" value="5">Tahiti<br><br>
            </tr><tr>
            <label><font color="white">Escolha um destes animais:</label><br><br>
            </tr><tr>
            <input type="radio" name="animal" value="0" required>Pantera<br>
            <input type="radio" name="animal" value="1">Guaxinim<br>
            <input type="radio" name="animal" value="2">Formiga<br>
            <input type="radio" name="animal" value="3">Gavião<br>
            <input type="radio" name="animal" value="4">Lebre<br>
            <input type="radio" name="animal" value="5">Aranha<br><br>
            </tr><tr>
            <label><font color="white">Qual destes planetas você gostaria de visitar?</label><br><br>
            </tr><tr>
            <input type="radio" name="planeta" value="0" required>Titã<br>
            <input type="radio" name="planeta" value="1">Asgard<br>
            <input type="radio" name="planeta" value="2">Lugánenhum<br>
            <input type="radio" name="planeta" value="3">Terra<br>
            <input type="radio" name="planeta" value="4">Xandar<br>
            <input type="radio" name="planeta" value="5">Jotunheim<br><br>
            </tr><tr>
            <label><font color="white">Escolha um desses esportes:</label><br><br>
            </tr><tr>
            <input type="radio" name="esporte" value="0" required>Futebol<br>
            <input type="radio" name="esporte" value="1">Volei<br>
            <input type="radio" name="esporte" value="2">Basquete<br>
            <input type="radio" name="esporte" value="3">Rugbi<br>
            <input type="radio" name="esporte" value="4">Tênis<br>
            <input type="radio" name="esporte" value="5">Hockey<br><br>
            </tr><tr>
            <label><font color="white">Qual a cor do seus olhos?</label><br><br>
            </tr><tr>
            <input type="radio" name="olho" value="0" required>Azul<br>
            <input type="radio" name="olho" value="1">Verde<br>
            <input type="radio" name="olho" value="2">Marrom<br>
            <input type="radio" name="olho" value="3">Preto<br>
            <input type="radio" name="olho" value="4">Depende<br>
            <input type="radio" name="olho" value="5">Outro<br><br>
            </tr><tr>
            <label><font color="white">Qual destas músicas você prefere?</label><br><br>
            </tr><tr>
            <input type="radio" name="musica" value="0" required>Bohemian Rhapsody - Queen<br>
            <input type="radio" name="musica" value="1">Back in black - AC/DC<br>
            <input type="radio" name="musica" value="2">Hooked on a feeling - Blue Swede<br>
            <input type="radio" name="musica" value="3">Iron Man - Black Sabbath<br>
            <input type="radio" name="musica" value="4">Escape (Piña Colada) - Rupert Holmes<br>
            <input type="radio" name="musica" value="5">Mr. Blue Sky - Electric Light Orchestra<br><br>
            </tr><tr>
            <label><font color="white">Qual a cor da sua camiseta agora?</label><br><br>
            </tr><tr>
            <input type="radio" name="camisa" value="0" required>Cinza<br>
            <input type="radio" name="camisa" value="1">Branco<br>
            <input type="radio" name="camisa" value="2">Preto<br>
            <input type="radio" name="camisa" value="3">Azul<br>
            <input type="radio" name="camisa" value="4">Vermelho<br>
            <input type="radio" name="camisa" value="5">Outra<br><br>
            </tr><tr>
            <label><font color="white">Escolha uma serie de filmes:</label><br><br>
            </tr><tr>
            <input type="radio" name="filme" value="0" Required>Star Wars <br>
            <input type="radio" name="filme" value="1">De Volta para o Futuro <br>
            <input type="radio" name="filme" value="2">Rocky Balboa <br>
            <input type="radio" name="filme" value="3">Senhor dos Anéis <br>
            <input type="radio" name="filme" value="4">O Cavaleiro das Trevas <br>
            <input type="radio" name="filme" value="5">Harry Potter <br><br>
            </tr><tr>
            <label><font color="white">Qual dessas pedras do infinito você gostaria de usar?</label><br><br>
            </tr><tr>
            <input type="radio" name="pedra" value="0" Required>Poder<br>
            <input type="radio" name="pedra" value="1">Tempo<br>
            <input type="radio" name="pedra" value="2">Realidade<br>
            <input type="radio" name="pedra" value="3">Mente<br>
            <input type="radio" name="pedra" value="4">Alma<br>
            <input type="radio" name="pedra" value="5">Espaço<br><br>
            </tr><tr>
            <label><font color="white">Escolha uma cor:</label><br><br>
            </tr><tr>
            <input type="radio" name="cor" value="0" Required>Roxo<br>
            <input type="radio" name="cor" value="1">Verde<br>
            <input type="radio" name="cor" value="2">Vermelho<br>
            <input type="radio" name="cor" value="3">Amarelo<br>
            <input type="radio" name="cor" value="4">Laranja<br>
            <input type="radio" name="cor" value="5">Azul<br><br>
            </tr><tr>
            <label><font color="white">Qual dessas comidas você prefere?</label><br><br>
            </tr><tr>
            <input type="radio" name="comida" value="0" Required>Lasagna<br>
            <input type="radio" name="comida" value="1">Pizza<br>
            <input type="radio" name="comida" value="2">Shawarma<br>
            <input type="radio" name="comida" value="3">Hamburger<br>
            <input type="radio" name="comida" value="4">Salada<br>
            <input type="radio" name="comida" value="5">Sorvete<br><br>
            </tr><tr>
            <label><font color="white">Escolha uma serie de TV:</label><br><br>
            
            <input type="radio" name="serie" value="0" required>Game of Thrones <br>
            <input type="radio" name="serie" value="1">Prison Break <br>
            <input type="radio" name="serie" value="2">Lost <br>
            <input type="radio" name="serie" value="3">Greys Anatomy<br>
            <input type="radio" name="serie" value="4">Simpsons<br>
            <input type="radio" name="serie" value="5">Friends<br><br>
            </tr>
            </table><br>
            <input type="submit">

        </form>
   
     <body>
<html>
