<html>

<head>
<link href='https://fonts.googleapis.com/css?family=Marvel' rel='stylesheet'>
<style>
body {
    font-family: 'Marvel';font-size: 28px;
}
</style>
</head>

    <body bgcolor="#091C4B"><center><font color="white">
        
        <h1>Qual vingador você é?</h1>
        
        <form name="send-form" class="send-form" method="POST" action="/quiz">

            <label>Sua idade: </label><input type="number" name="idade" required/><br><br>
    
    
    	 
            <table cellspacing="40" bgcolor="4C9FFF">
        
            <tr><td>
            <label><font color="white">Para qual desses lugares você iria agora?</label><br><br>
            <input type="radio" name="city" value="0" required>Wakanda<br>
            <input type="radio" name="city" value="1">New York<br>
            <input type="radio" name="city" value="2">Sokovia<br>
            <input type="radio" name="city" value="3">Noruega<br><br>
            </td><td>
            <label><font color="white">Qual destes é seu animal favorito?</label><br><br>
            <input type="radio" name="animal" value="0" required>Pantera<br>
            <input type="radio" name="animal" value="1">Guaxinim<br>
            <input type="radio" name="animal" value="2">Formiga<br>
            <input type="radio" name="animal" value="3">Gavião<br><br>
            </td><td>
            <label><font color="white">Qual destes planetas você gostaria de visitar?</label><br><br>
            <input type="radio" name="planeta" value="0" required>Titã<br>
            <input type="radio" name="planeta" value="1">Asgard<br>
            <input type="radio" name="planeta" value="2">Lugánenhum<br>
            <input type="radio" name="planeta" value="3">Terra<br><br>
            </td><td>
            <label><font color="white">Qual destes é seu esporte favorito?</label><br><br>
            <input type="radio" name="esporte" value="0" required>Futebol<br>
            <input type="radio" name="esporte" value="1">Volei<br>
            <input type="radio" name="esporte" value="2">Basquete<br>
            <input type="radio" name="esporte" value="3">Rugbi<br><br>
            </td></tr><tr><td>
            <label><font color="white">Qual a cor do seus olhos?</label><br><br>
            <input type="radio" name="olho" value="0" required>Azul<br>
            <input type="radio" name="olho" value="1">Verde<br>
            <input type="radio" name="olho" value="2">Marrom<br>
            <input type="radio" name="olho" value="3">Preto<br><br>
            </td><td>
            <label><font color="white">Qual destas músicas você prefere?</label><br><br>
            <input type="radio" name="musica" value="0" required>Bohemian Rhapsody - Queen<br>
            <input type="radio" name="musica" value="1">Back in black - AC/DC<br>
            <input type="radio" name="musica" value="2">Hooked on a feeling - Blue Swede<br>
            <input type="radio" name="musica" value="3">Iron Man - Black Sabbath<br><br>
            </td><td>
            <label><font color="white">Qual a cor da camiseta agora?</label><br><br>
            <input type="radio" name="cor" value="0" required>Cinza<br>
            <input type="radio" name="cor" value="1">Branco<br>
            <input type="radio" name="cor" value="2">Preto<br>
            <input type="radio" name="cor" value="3">Outra<br><br>
            </td><td>
            <label><font color="white">Qual destas trilogias você prefere?</label><br><br>
            <input type="radio" name="filme" value="0" required>Homem de Ferro<br>
            <input type="radio" name="filme" value="1">Capitão América<br>
            <input type="radio" name="filme" value="2">Thor<br>
            <input type="radio" name="filme" value="3">Vingadores<br><br>
            </td></tr><tr><td>
            <label><font color="white">Qual a cor da camiseta agora?</label><br><br>
            <input type="radio" name="cor" value="0" required>Cinza<br>
            <input type="radio" name="cor" value="1">Branco<br>
            <input type="radio" name="cor" value="2">Preto<br>
            <input type="radio" name="cor" value="3">Outra<br><br>
            </td><td>
            <label><font color="white">Qual a cor da camiseta agora?</label><br><br>
            <input type="radio" name="cor" value="0" required>Cinza<br>
            <input type="radio" name="cor" value="1">Branco<br>
            <input type="radio" name="cor" value="2">Preto<br>
            <input type="radio" name="cor" value="3">Outra<br><br>
            </td><td>
            <label><font color="white">Qual a cor da camiseta agora?</label><br><br>
            <input type="radio" name="cor" value="0" required>Cinza<br>
            <input type="radio" name="cor" value="1">Branco<br>
            <input type="radio" name="cor" value="2">Preto<br>
            <input type="radio" name="cor" value="3">Outra<br><br>
            </td><td>
            <label><font color="white">Qual a cor da camiseta agora?</label><br><br>
            <input type="radio" name="cor" value="0" required>Cinza<br>
            <input type="radio" name="cor" value="1">Branco<br>
            <input type="radio" name="cor" value="2">Preto<br>
            <input type="radio" name="cor" value="3">Outra<br><br>
            </td></tr>
            </table><br>
            <input type="submit">

        </form>
   
     <body>
<html>