<html>


    <head>
        <link href='https://fonts.googleapis.com/css?family=Marvel' rel='stylesheet'>
        <link rel="stylesheet" type="text/css" href="/style/style.css">

        <style>

        input[type=text] {
          width: 20%;
          padding: 12px 20px;
          margin: 8px 0;
          box-sizing: border-box;
        }


        input[type=number] {
          width: 20%;
          padding: 12px 20px;
          margin: 8px 0;
          box-sizing: border-box;
        }

        /* The container */
.container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 28px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    left: 42%;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 15%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #a3a3a3;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 30%;
	background: white;
}
        </style>
    </head>

    <body bgcolor="#091C4B"><center><font color="white">

        <h1>Qual vingador você é?</h1>

        <form name="send-form" class="send-form" method="POST" action="/quiz">

            <input type="text" name="nome" placeholder="Seu nome" required/><br>
            <input type="number" name="idade" placeholder="Sua idade" required/><br><br>

            <label><font color="white">Para qual desses lugares você iria agora?</label><br><br>

            <label class="container">Wakanda   <input type="radio" name="cidade" value="0" required><span class="checkmark"/></label>
            <label class="container">New York  <input type="radio" name="cidade" value="1"><span class="checkmark"/></label>
            <label class="container">Sokovia   <input type="radio" name="cidade" value="2"><span class="checkmark"/></label>
            <label class="container">Norway    <input type="radio" name="cidade" value="3"><span class="checkmark"/></label>
            <label class="container">Kamar-Taj <input type="radio" name="cidade" value="4"><span class="checkmark"/></label>
            <label class="container">Tahiti    <input type="radio" name="cidade" value="5"><span class="checkmark"/></label><br><br>

            <label><font color="white">Escolha um destes animais:</label><br><br>

            <label class="container">Pantera  <input type="radio" name="animal" value="0" required><span class="checkmark"/></label>
            <label class="container">Guaxinim <input type="radio" name="animal" value="1"><span class="checkmark"/></label>
            <label class="container">Formiga  <input type="radio" name="animal" value="2"><span class="checkmark"/></label>
            <label class="container">Gavião   <input type="radio" name="animal" value="3"><span class="checkmark"/></label>
            <label class="container">Lebre    <input type="radio" name="animal" value="4"><span class="checkmark"/></label>
            <label class="container">Aranha   <input type="radio" name="animal" value="5"><span class="checkmark"/></label><br><br>

            <label><font color="white">Qual destes planetas você gostaria de visitar?</label><br><br>

            <label class="container">Titã        <input type="radio" name="planeta" value="0" required><span class="checkmark"/></label>
            <label class="container">Asgard      <input type="radio" name="planeta" value="1"><span class="checkmark"/></label>
            <label class="container">Lugánenhum  <input type="radio" name="planeta" value="2"><span class="checkmark"/></label>
            <label class="container">Terra       <input type="radio" name="planeta" value="3"><span class="checkmark"/></label>
            <label class="container">Xandar      <input type="radio" name="planeta" value="4"><span class="checkmark"/></label>
            <label class="container">Jotunheim   <input type="radio" name="planeta" value="5"><span class="checkmark"/></label><br>

            <label><font color="white">Escolha um desses esportes:</label><br><br>

            <label class="container">Futebol    <input type="radio" name="esporte" value="0" required><span class="checkmark"/></label>
            <label class="container">Volei      <input type="radio" name="esporte" value="1"><span class="checkmark"/></label>
            <label class="container">Basquete   <input type="radio" name="esporte" value="2"><span class="checkmark"/></label>
            <label class="container">Rugbi      <input type="radio" name="esporte" value="3"><span class="checkmark"/></label>
            <label class="container">Tênis      <input type="radio" name="esporte" value="4"><span class="checkmark"/></label>
            <label class="container">Hockey     <input type="radio" name="esporte" value="5"><span class="checkmark"/></label><br><br>

            <label><font color="white">Qual a cor do seus olhos?</label><br><br>

            <label class="container">Azul<input type="radio" name="olho" value="0" required><span class="checkmark"/></label>
            <label class="container">Verde<input type="radio" name="olho" value="1"><span class="checkmark"/></label>
            <label class="container">Marrom<input type="radio" name="olho" value="2"><span class="checkmark"/></label>
            <label class="container">Preto<input type="radio" name="olho" value="3"><span class="checkmark"/></label>
            <label class="container">Depende<input type="radio" name="olho" value="4"><span class="checkmark"/></label>
            <label class="container">Outro<input type="radio" name="olho" value="5"><span class="checkmark"/></label><br><br>

            <label><font color="white">Qual destas músicas você prefere?</label><br><br>

            <label class="container">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Bohemian Rhapsody - Queen<input type="radio" name="musica" value="0" required><span class="checkmark"/></label>
            <label class="container">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspBack in black - AC/DC<input type="radio" name="musica" value="1"><span class="checkmark"/></label>
            <label class="container">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspHooked on a feeling - Blue Swede<input type="radio" name="musica" value="2"><span class="checkmark"/></label>
            <label class="container">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspIron Man - Black Sabbath<input type="radio" name="musica" value="3"><span class="checkmark"/></label>
            <label class="container">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspEscape (Piña Colada) - Rupert Holmes<input type="radio" name="musica" value="4"><span class="checkmark"/></label>
            <label class="container">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspMr. Blue Sky - Electric Light Orchestra<input type="radio" name="musica" value="5"><span class="checkmark"/></label><br><br>

            <label><font color="white">Qual a cor da sua camiseta agora?</label><br><br>

            <label class="container">Cinza<input type="radio" name="camisa" value="0" required><span class="checkmark"/></label>
            <label class="container">Branco<input type="radio" name="camisa" value="1"><span class="checkmark"/></label>
            <label class="container">Preto<input type="radio" name="camisa" value="2"><span class="checkmark"/></label>
            <label class="container">Azul<input type="radio" name="camisa" value="3"><span class="checkmark"/></label>
            <label class="container">Vermelho<input type="radio" name="camisa" value="4"><span class="checkmark"/></label>
            <label class="container">Outra<input type="radio" name="camisa" value="5"><span class="checkmark"/></label><br><br>

            <label><font color="white">Escolha uma serie de filmes:</label><br><br>

            <label class="container">Star Wars<input type="radio" name="filme" value="0" Required><span class="checkmark"/></label>
            <label class="container">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspDe Volta para o Futuro<input type="radio" name="filme" value="1"><span class="checkmark"/></label>
            <label class="container">Rocky Balboa<input type="radio" name="filme" value="2"><span class="checkmark"/></label>
            <label class="container">&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSenhor dos Anéis<input type="radio" name="filme" value="3"><span class="checkmark"/></label>
            <label class="container">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspO Cavaleiro das Trevas<input type="radio" name="filme" value="4"><span class="checkmark"/></label>
            <label class="container">Harry Potter<input type="radio" name="filme" value="5"><span class="checkmark"/></label> <br><br>

            <label><font color="white">Qual dessas pedras do infinito você gostaria de usar?</label><br><br>

            <label class="container">Poder<input type="radio" name="pedra" value="0" Required><span class="checkmark"/></label>
            <label class="container">Tempo<input type="radio" name="pedra" value="1"><span class="checkmark"/></label>
            <label class="container">Realidade<input type="radio" name="pedra" value="2"><span class="checkmark"/></label>
            <label class="container">Mente<input type="radio" name="pedra" value="3"><span class="checkmark"/></label>
            <label class="container">Alma<input type="radio" name="pedra" value="4"><span class="checkmark"/></label>
            <label class="container">Espaço<input type="radio" name="pedra" value="5"><span class="checkmark"/></label><br><br>

            <label><font color="white">Escolha uma cor:</label><br><br>

            <label class="container">Roxo<input type="radio" name="cor" value="0" Required><span class="checkmark"/></label>
            <label class="container">Verde<input type="radio" name="cor" value="1"><span class="checkmark"/></label>
            <label class="container">Vermelho<input type="radio" name="cor" value="2"><span class="checkmark"/></label>
            <label class="container">Amarelo<input type="radio" name="cor" value="3"><span class="checkmark"/></label>
            <label class="container">Laranja<input type="radio" name="cor" value="4"><span class="checkmark"/></label>
            <label class="container">Azul<input type="radio" name="cor" value="5"><span class="checkmark"/></label><br><br>

            <label><font color="white">Qual dessas comidas você prefere?</label><br><br>

            <label class="container">Lasagna<input type="radio" name="comida" value="0" Required><span class="checkmark"/></label>
            <label class="container">Pizza<input type="radio" name="comida" value="1"><span class="checkmark"/></label>
            <label class="container">Sushi<input type="radio" name="comida" value="2"><span class="checkmark"/></label>
            <label class="container">Hamburger<input type="radio" name="comida" value="3"><span class="checkmark"/></label>
            <label class="container">Salada<input type="radio" name="comida" value="4"><span class="checkmark"/></label>
            <label class="container">Sorvete<input type="radio" name="comida" value="5"><span class="checkmark"/></label><br><br>

            <label><font color="white">Escolha uma serie de TV:</label><br><br>

            <label class="container">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Game of Thrones<input type="radio" name="serie" value="0" required><span class="checkmark"/></label>
            <label class="container">Prison Break<input type="radio" name="serie" value="1"><span class="checkmark"/></label>
            <label class="container">Lost<input type="radio" name="serie" value="2"><span class="checkmark"/></label>
            <label class="container">&nbsp&nbsp Greys Anatomy<input type="radio" name="serie" value="3"><span class="checkmark"/></label>
            <label class="container">Simpsons<input type="radio" name="serie" value="4"><span class="checkmark"/></label>
            <label class="container">Friends<input type="radio" name="serie" value="5"><span class="checkmark"/></label>
            <br>
            <button type="submit" class="a">Continuar</button>

        </form>

     <body>
<html>
