<html>

    <head>
        <link rel="stylesheet" type="text/css" href="style/style.css">
        <link href='https://fonts.googleapis.com/css?family=Marvel' rel='stylesheet'>
    </head>
<body bgcolor="#6d3678">
<center><font color="white"><h1>Você achou um Easter Egg!</h1>

<iframe width="854" height="400" src="https://www.youtube.com/embed/LfhLlqmTYgw?rel=0&amp;controls=0&amp;showinfo=0;autoplay=1" frameborder="0"  allow="autoplay; encrypted-media" allowfullscreen></iframe>
<br>
    <form name="send-form" class="send-form" method="GET" action="/">
        <button type="submit" class="a">Recomeçar :D</button>
    </form>



</body>
</html>
